$font-stack: Helvetica, sans-serif;
$primary-color: rgb(52, 52, 52);
$secondary-color: rgb(170, 255, 228);
$tertiary-color: rgb(218, 86, 86);
$radius: 8px;

.translator {

};

label {

};

textarea {

};

select {

};

button {

};